mixin comment(options)
    -let commentCls = "comment"
    -commentCls += options.uiKit ? " comment_ui-kit" : ""
    div(class=commentCls)
        .comment__author
            img(class="comment__author-avatar" src=`assets/img/${options.img}` alt="")
            .comment__info
                p.comment__name= options.name
                p= options.time
        .comment__body
            block
            .comment__text= options.text