mixin text-field(options)
    -let inputClassName = "text-field"
    -inputClassName += options.focus ? " text-field_focus" : ""
    input(
        class=inputClassName
        type=options.type ? options.type : "text" 
        name=options.nametag
        placeholder=options.placeholder
        value=options.value
        )