mixin date-input(options)
    input(
        type="text"
        class="date-picker"
        id="date-input"
        placeholder=`${options.placeholder}`
        value=options.value
    )

mixin date-filter(options)
    div.date-picker__filter
        input(
            type="text"
            class="date-picker"
            id=options.id
            value=options.value
            readonly
        )
        i.date-picker__turn expand_more

mixin date-picker(options)
    div(class="date-picker__container")
        .date-picker__item
            label.date-picker__label= options.nameStart
            div
                input(
                    type="text"
                    class="date-picker"
                    id=options.idstart
                    value=options.start
                    readonly
                )
                i.date-picker__turn expand_more
        .date-picker__item
            label.date-picker__label= options.nameEnd
            div
                input(
                    type="text"
                    class="date-picker"
                    id=options.idend
                    value=options.end
                    readonly
                )
                i.date-picker__turn expand_more