mixin dropdown(options)
    -let dropdownCls = "dropdown"
    -dropdownCls += options.expand ? " dropdown__menu-open" : ""
    div(class=dropdownCls data-display=`${options.display}`)
        p.dropdown__selection= options.text
        i.dropdown__turn expand_more
        .dropdown__menu
            block
            .dropdown__btn-wrapper
                span.dropdown__clear Очистить
                span.dropdown__apply Применить

mixin dropdown-option(options)
    .dropdown__option(data-id=`${options.id}`)
        div(class="dropdown__content")
            p.dropdown__item= options.item
        .dropdown__controls
            span(class="dropdown__btn-decrement dropdown__forbid") -
            span.dropdown__counter 0
            span.dropdown__btn-increment +