mixin checkbox-btn(options)
    -let labelCls = "checkbox-btn__label"
    -labelCls += (options.description) ? " checkbox-btn__label_bold" : ""
    .checkbox-btn
        input(
            class="checkbox-btn__checkbox" 
            type="checkbox" 
            name=`${options.name}` 
            id=`${options.name}`  
            checked=options.checked
            )
        label(
            class=labelCls
            for=`${options.name}`)= options.text
        if (options.description)
            p.checkbox-btn__description= options.description